/* comment) */
.greetings1{
    color: white;
    justify-content: center;
    display: flex;
    font-family: 'Montserrat', sans-serif;
}
body{
    background-color: darkgray;
    color: white;
}
.greetings2{
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}

.more_about_me{
    text-align: center;
}

header{
    background-color: grey;
}

main{
    background-color: darkgray;
}


.my_social_media1{
    text-decoration: none;
    text-transform: uppercase;
}
.my_github{
    background-color: black;
    color: red;
    justify-content: center;
    display: flex;
}
footer{
    background-color: black;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

