/* comment) */
.hh1{
    color: white;
    justify-content: center;
    display: flex;
    font-family: 'Montserrat', sans-serif;
}
body{
    background-color: darkgray;
}
.hh2{
    color: white;
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}

.p1{
    color: white;
    text-align: center;
}

.p2{
    color: white;
}
header{
    background-color: grey;
}
.ul1{
    color: white;
}
main{
    background-color: darkgray;
}
.ul2{
    color: white;
    text-decoration: none;
    
}
.hh3{
    color: white;
    left: 1%
}
